p{
    font-weight: bold;
    font-size: 20px;
    }
    
    #top{
        text-decoration: underline;
    }
    
    .emphasizedText{
        font-style: italic;
        color: rgb(24, 171, 194);
    }
    
    body{background-color: rgb(255, 180, 205);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        border: 5px solid black;
        margin: 20px;
        padding: 10px;
        
    
    }
    
    ul{ 
        list-style-position: inside;
        text-align: left;
        display: inline-block;
    }
    
    ol{ 
        list-style-position: inside;
        text-align: left;
        display: inline-block;
    }
    
  script{align-items: center;}